<div class="card">
  <div>Accordion Demo</div>

  <app-accordion>
    <app-accordion-item title="Title 1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas fugiat dolores, voluptates atque error quisquam doloremque veniam excepturi, expedita quaerat eveniet vitae, explicabo qui reprehenderit optio odit quibusdam veritatis eaque.</app-accordion-item>
    <app-accordion-item title="Title 2" >Dummy text 2</app-accordion-item>
    <app-accordion-item title="Title 3" >Dummy Text 3</app-accordion-item>
  </app-accordion>
</div>
